@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');
@media only screen and (min-width: 700px) {
  body{
    margin: 0;
   
    background-image: url("../Img/bg-tablet-pattern.svg");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 100% -4%;
  }
 
/* Header*/
header{
 
 width: 90%;
 height: 50px;
 margin-top: 80px;


}
.Nav-container{
 width: 80%;
 margin: auto;
}

.Nav-logo{
  float: left;
}
.nav-menu{
 
 float: center;
 margin-left: 32%;
 font-size: 12px;
 cursor: pointer;
  
  
}
.nav-menu a{
  font-family: 'Be Vietnam';
  font-weight: bold;
  color: #33324D;
  line-height: normal;
  padding: 10px;
  transition: all 500ms ease;
}
  .nav-menu a:hover{
    color: #acacac;
  }

.nav-bottom{
  float: right;
  margin-top: -8%;
  margin-right:-20% ;
  transition: all 500ms ease;
}

.Bottom{
  line-height: normal;
  font-family: 'Be Vietnam', sans-serif;
  font-weight: 700;
  color: aliceblue;
  padding: 10px 25px;
  font-size: 10px;
  background: #F3613C;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 5px 9px 0px rgba(189, 99, 47, 0.774);
}

a{
  text-decoration: none;
}

.logoletra{
  width: 118px;
  height: 38px;
  border-radius: 20px;
  border-style: none;
  outline: none;
}

ul>li {
    display: inline;
    cursor: pointer;
}

.clear {
    clear: both;
}

article button {
    font-family: 'Be Vietnam', sans-serif;
    color: aliceblue;
    padding: 7px 20px;
    font-size: 10px;
    background: #F3613C;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 30px;
    color: hsl(13, 100%, 96%);
    cursor: pointer;
    box-shadow: 0px 5px 9px 0px rgba(189, 99, 47, 0.774);
}


/*  Division 1 */
#box-container {
  font-family: 'Be Vietnam', sans-serif;
    display: flex;
    height: 100%;
    justify-content: center;
    margin-top: 3%;
   }

#box-1 {
    
    width: 42%;
    height: 100%;
    display: flex;
    flex-direction: column;
    }

.box1Titulo{
  font-size: 3.9rem;
  color: #162449;
}
.Box1Texto{
    display: flex;
    font-size: 1.2rem;
    color: #979BA6;
    padding-right: 20%;

}
.botonizq{

  display: flex;
  justify-content: center;
  background: tomato;
  border-radius: 20px;  
  width: 9rem;
  height: 1rem;
  margin: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  color: aliceblue;
}

#box-2 {
    
    width: 42%;
    height: 100%;
    display: flex;
    
}

.graficas{
  width: 200%;
  margin-left: 20%;
  display: flex;
  
}
.ilustracion{
  display: flex;
  justify-content:right;
  width: 50%;
  height: auto;
}


/* Termina Division 1 */



/* Division 2 */

.Division2{
    margin-top: 30px;
    display: flex;
    height: 100%;
    justify-content: center;
    font-family: 'Be Vietnam', sans-serif;

} 
.Division2 .izquierda{
    
    display: flex;
    width: 42%;
    flex-direction: column;
    text-align:left
     
}

.Division2 .Titulo{
    font-size: 1.9rem;
    margin-right: 10%;
    color: #162449;
    
}

.Division2 .texto{
    margin-right: 30%;
    font-size: 1.2rem;
    color: #979BA6;
}

.Division2 .derecha{
    width: 42%;
    
}
.Division2 .contenido{
    margin-top: 10%;
    display: flex;
   
}

.Division2 .bottom{
 
    color: white;
  }

.numero{
    display: flex;
    justify-content: center;
    background: tomato;
    border-radius: 20px;  
    width: 4rem;
    height: 2rem;
    margin: 8px;
    padding-top: 7%;
  }

.contenido .titulo{
   color: #162449;
   margin: 0.813rem 0 0;
   margin-left: -20;
   
   
}
.textoProducto{
    display: flex;
    font-size: 1.1rem;
    color: #979BA6;
    padding-right: -100px;    
}



/*Termina el container de division 2*/

/* Division 3 Avatares*/

/*Termina division de avatares*/

/**/

:root {
    --BrightRed: hsl(12, 88%, 59%);
    --DarkBlue: hsl(228, 39%, 23%);
    --GrayishBlue: hsl(227, 12%, 61%);
    --DarkBluee: hsl(233, 12%, 13%);
    --PaleRed: hsl(13, 100%, 96%);
    --LightGray: hsl(0, 0%, 98%);
  }

  button {
    width: 118px;
    height: 38px;
    border-radius: 20px;
    border-style: none;
    outline: none;
    background-color: var(--BrightRed);
  }
  
  button :hover {
    background-color: var(--PaleRed);
  }
 

  .product-info__title {
    color: var(--DarkBlue);
    width: 80%;
    margin: 10px 0;
    line-height: 40px;
    font-size: 35px;
  }
 
  .section-3 {
    
    background: white;
    background-image: url("../img/bg-tablet-pattern.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: -55% 1%;
    width: 100%;
    margin: 8% 0px 12%;
    text-align: center;
  }
  
  .section-title {
    color: var(--DarkBlue);
  }
  
  .testimony-div {
    display: grid;
    grid: 1fr / repeat(3, 1fr);
    grid-column-gap: 20px;
    margin: 7% 0 3%;
  }
  
  .testimony {
    background-color: var(--LightGray);
    padding: 0 15px;
    height: 32vh;
    text-align: center;
  }
  
  .testimony__avatar {
    position: relative;
    bottom: 40px;
    width: 20%;
    height: auto;
  }
  
  .testimony__name {
    margin: 0 0 10px;
    color: var(--DarkBlue);
  }
  
  .testimony__info {
    font-size: 14px;
    margin: 10px 0;
  }
  
  .initial-info {
    width: 50%;
  }
  
  .section-footer {
    width: 100%;
    height: 200px;
    padding: 2% 10%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: var(--BrightRed);
  }
  
  .section-footer-div {
    align-self: center;
  }
  
  .section-footer__title {
    margin: 0 auto;
    font-size: 2.2rem;
    color: white;
  }
  
  .started-item--white {
    align-self: center;
    color: var(--BrightRed);
    background-color: white;
  }
  
  .started-item__link--orange {
    margin: 0 auto;
  }
  
  footer {
    width: 100%;
    height: 240px;
    padding: 3% 10%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    background-color: var(--DarkBluee);
  }
  
  .footer-media {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .media {
    width: 150px;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
  }
  
  .media-item :hover {
    color: var(--BrightRed);
  }
  
  .footer-bar {
    display: flex;
    width: 45%;
  }
  
  .footer-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    width: 50%;
  }
  
  .footer-menu-item__link {
    color: white;
  }
  
  .footer-menu-item :hover {
    color: var(--BrightRed);
  }
  
  .footer-form{
    width: 30%;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .form {
    display: flex;
    justify-content: space-between;
  }
  
  .form__email {
    width: 70%;
    height: 38px;
    border-radius: 20px;
    border-style: none;
    outline: none;
    box-sizing: border-box;
    padding: 2px 10px;
  }
  
  .go {
    width: 28%;
  }
  
  .copyright__item {
    font-size: 13px;
  }
  
  

@media only screen and (min-width:320px) and (max-width:480px) {
    
}